h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.div-formulario, .div-tabela {
 width: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

form > input {
    margin-bottom: 8px;
}

table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

table > thead > tr > th {
    width: 50%;
}